body {
    margin: 0;
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #000;
    color: lightgray;
    font-family: cursive;
}

.container {
    text-align: center;
    width: 300px;
}